{{!
<div class="jumbotron jumbotron-fluid">
  }}
  <div class="container text-center">
    <img
      class="text-center"
      src="911-Now-Logo-Pink.png"
      alt="Smiley face"
      height="250px"
    />
  </div>
  {{!
</div>
}}
