{{!
<div class="jumbotron jumbotron-fluid">
  }}
  <div class="container text-center">
    <a href="/">
      <img
        class="text-center"
        src="911-Now-Logo-Pink.png"
        alt="Smiley face"
        height="250px"
    /></a>
  </div>
  {{!
</div>
}}
