<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
  </head>
  <body>
    <div class="container-fluid overflow-hidden vh-100 vw-100">
      <div class="container text-center">
        <h1>Choose Your Emergency</h1>
      </div>

      <div class="container vertical-center overflow-auto">
        <div
          class="card text-center container bg-secondary mb-3 mt-3"
          style="width: 18rem;"
        >
          <h1 class="text-center pt-2">🚓</h1>
          <div class="card-body">
            <a href="/emergency" class="btn btn-primary text-center">Police</a>
          </div>
        </div>
        <div
          class="card text-center container bg-secondary mb-3"
          style="width: 18rem;"
        >
          <h1 class="text-center pt-2">🚒</h1>
          <div class="card-body">
            <a href="/emergency" class="btn btn-primary text-center">Fire</a>
          </div>
        </div>
        <div
          class="card text-center container bg-secondary mb-3"
          style="width: 18rem;"
        >
          <h1 class="text-center pt-2">🏥</h1>
          <div class="card-body">
            <a href="/emergency" class="btn btn-primary text-center">Medical</a>
          </div>
        </div>
      </div>
    </div>

    {{> footer}}
  </body>
</html>
