html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FF4F4B;
    color: white;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.jumbotron {
    margin: 0;
    height: 150px;
    background-color: #FF4F4B;
    padding: 16px;
    height: 100px;
}

.title {
    margin-bottom: 40px;
}

.btn-primary {
    color: #FF1D14;
    background-color: white;
    border-color: white;
    margin-top: 10px;
}